body {
    background: #5f4aff;
    font-family: 'poppins';
    color: #373738;
    overflow-x: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

@keyframes popupImage {
    0% {
      transform: scale(0.1);
    }
    100% {
      transform: scale(1);
    }
  }

.card {
    animation: 1s ease-out 0s 1 popupImage;
    background-color: #fff;
    width: 500px;
    height: 800px;
    border-radius: 50px;
    position: relative;
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.background-image {
    border-radius: 50px 50px 0 0;
    width: 100%;
    height: 16rem;
}

.profile {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: 50px;
    justify-content: center;
    align-items: center;

}

.profile h4 {
    color: #a2a2a5;
    font-weight: normal;
}

.profile p {
    margin: 25px 10px 0;
    text-align: justify;
    font-size: 13px;
}

.profile-image {
    width: 150px;
    border-radius: 100px;
    position: absolute;
    top: 150px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.links {
    display: flex;
    margin: 25px;
    gap: 35px;
}

.linkedin-link,
.whatsapp-link,
.github-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.1s ease-in-out background-color, transform 0.2s ease-in-out;
    border-radius: 10px;
}

.linkedin-link h6,
.whatsapp-link h6,
.github-link h6 {
    color: #a2a2a5;
    font-weight: normal;
}

.linkedin-link:hover,
.whatsapp-link:hover,
.github-link:hover {
    background-color: #dadad8;
}

.linkedin-link:active,
.whatsapp-link:active,
.github-link:active {
    background-color: #bdbdbb;
    transform: scale(0.9);

}


.linkedin-icon,
.whatsapp-icon,
.github-icon {
    max-width: 75px;
}

.send-message-button {
    background-color: #ffd01a;
    padding: 10px 20px;
    width: 85%;
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
    color: inherit;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transition: backgrond-color 0.1s ease-in-out, transform 0.2s ease-in-out;
}

.send-message-button:hover {
    background-color: #efb10a;
    transform: scale(1.1);
}

.send-message-button:active {
    background-color: #e8a200;
    transform: scale(1);
}